<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <h1 class="text-xl">Halo! {{user.firstname}}!</h1>
    <a
      href="{{body.link}}"
      class="inline-flex place-content-center text-center focus:ring-1 focus:outline-none rounded-md text-md px-4 py-3 lg:py-2 w-full m-auto transition-color duration-200 select-none"
      +
    >
      Click Me!
    </a>
  </body>
</html>
